{{/* Run with `gotmplcheck -dot github.com/motemen/go-template-statictools/example.Data example/example.tmpl` */}}

{{with .Meta}}
  Title: {{.Title_with_typo}}
{{end}}

Items: {{range .Items}}
  - {{.Name}}
  - x: {{.Method "x"}}
  - y: {{.NoSuchMethod "x"}}
  {{range $v := .Field}}
	- {{$v.NoSuchField}}
  {{end}}
{{end}}

{{/* Run with `-funcmap github.com/motemen/go-template-statictools/example.funcs` flag */}}
{{pi}}
