{{/* @type github.com/motemen/go-template-statictools.TemplateVar */}}

{{define "subtemplate"}}
  {{.SubTemplateField}}
{{end}}

{{ .Foo | .Bar }}

{{ (index .Map .Key).ValueField }}

{{/* cmt */}}

{{$.TopVar1}}

Var1: {{.Var1}}
{{func1 .Var2.Var22 .Var222}}

{{$var := func2 .Var3}}
{{func3 .Var4 .Var5 | func4}}

{{.}}

{{if .}}}}
  {{.IfVar}}
{{else}}
  {{.ElseVar}}
{{end}}

{{with .With}}
  {{.WithVar}}
{{end}}

{{range .Slice}}
  {{.SliceVar}}
{{end}}

{{with .}}
  {{.RootVar}}
{{end}}

{{range .}}
  {{.RootVar}}
{{end}}

{{range (f 1)}}
  {{.RootVar}}
{{end}}
